<template name="productTemplatePartItem">

    <div class="list">
      <div class="list-item">
        <h3><a href="">{{name}} </a></h3>
       
	        <strong>
            <p> Width Formula: {{widthFormula}}</p>
            <p> Length Formula: {{lengthFormula}}</p>
            <p> Depth Formula: {{depthFormula}}</p>
            <p> Material Type: {{materialType}}</p>
            <br>
          </strong>
          
      </div>
      <a class="float-right btn btn-danger delete" href="#">Delete</a>
      <a href="{{pathFor 'templatePartEdit'}}" class="float-right btn btn-default">Edit</a>
      
    </div>

</template>


