<template name="componentTemplateItem">

    <div class="list">
      <div class="list-item">
        <h3><a href="{{pathFor 'componentTemplatePage'}}">{{name}}</a><span></span></h3>
          
          <strong>
            <p> Type: {{type}}</p>
            <p> Width Formula: {{widthFormula}}</p>
            <p> Height Formula: {{heightFormula}}</p>
            <p> Depth Formula: {{depthFormula}}</p>
            <p> Build Time: {{buildTime}}</p>
            <p> Processes:</p>
          </strong>
          {{#each this.processes}}
              <div class="list-item">
              {{grabName this}}

              </div>
              <br>
          {{/each}}
     
      </div>
      
      <a class="float-right btn btn-danger deleteComponentTemplate" href="#">Delete</a>
      <a href="{{pathFor 'componentTemplateEdit'}}" class="float-right btn btn-default">Edit</a>

    </div>

</template>


