
<template name="productSubmit">
  {{#autoForm collection="Products" id="productSubmit" type="insert" orderId=orderId template="bootstrap3-horizontal" class="comment-form form" }}
    <fieldset>
      <legend>Add Product</legend>
      
      <div class="form-inline">
        <label>Model</label>
        <select name="model" id="model" class="form-control">
            <option disabled="disabled" selected="selected">Select Cabinet Type</option> 
            
            <optgroup label="Base Cabinets">
              {{#each baseCabinets this.orderId}}
                <option value={{model}}> {{name}}</option>
              {{/each}}
            </optgroup> 

            <optgroup label="Wall Cabinets">
              {{#each wallCabinets this.orderId}}
                <option value={{model}}> {{name}}</option>
              {{/each}}
            </optgroup>

            <optgroup label="Tall Cabinets">
              {{#each tallCabinets this.orderId}}
                <option value={{model}}> {{name}}</option>
              {{/each}}
            </optgroup>

            <optgroup label="Trim">
              {{#each trim}}
                <option value={{model}}> {{name}}</option>
              {{/each}}
            </optgroup>

        </select>
      </div>
      <br>
      {{> afQuickField name='location' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
      
      
      
        

      <h4>Dimensions</h4>
      {{> afQuickField name='width' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
      {{> afQuickField name='height' value=defaultHeight template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afQuickField name='depth' value=defaultDepth template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}

      {{#if hasToeKick}}
        {{> afQuickField name='toeKickHeight' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
        {{> afQuickField name='toeKickDepth' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
      {{/if}}

      {{#if notTrim}}
        {{#if multipleProducts this.orderId}}
          <input type="checkbox" name="copySettings" checked="checked"> Copy settings from previous product.<br>
        {{/if}}
          {{#if displaySettings}}
            <h4>Doors & Drawers</h4>  
            {{> afQuickField name='leftOffset' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
            {{> afQuickField name='rightOffset' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
            {{> afQuickField name='topOffset' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
            {{> afQuickField name='bottomOffset' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
            {{> afQuickField name='drawerOffset' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
            {{> afQuickField name='centerOffset' template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}} 
            
           
            
        
          
          {{/if}}
      {{/if}}
      
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
</template>