<template name="orderItem2">
  <div class="restaurant">
    <div class="restaurant-content">
      <h3><a href="{{pathFor 'orderPage'}}">{{jobName}}</a><span></span></h3>
      <p>Customer: {{customerName}}</p>
      <p>Quantity: {{productCount}} Cabinets</p>

      <strong><p>Due Date: {{formatDate dueDate}}</p></strong>
     <!--
      <br>
      <p>Est. Build Time (Hrs): {{buildTime}}</p>
      <p>Progress: 0% Complete</p>
       <br>
      <p>Material Cost: {{materialCost}}</p>
      <p>Labor Cost: {{laborCost}}</p>
      <p><strong>Total Cost: {{totalCost}}</strong></p> -->
    </div>
    <a href="{{pathFor 'estimatePage'}}" class="discuss btn btn-default">Estimate</a>
    <a href="{{pathFor 'cutlistPage'}}" class="discuss btn btn-default">CutList</a>
    <a href="{{pathFor 'schedulesPage'}}" class="discuss btn btn-default">Schedules</a>
    <a href="{{pathFor 'takeoffPage'}}" class="discuss btn btn-default">TakeOff</a>
    <a href="{{pathFor 'orderEdit'}}" class="discuss btn btn-default">Edit</a>

  </div>
</template>