<template name="orderItem">
  <div class="list">
    <div class="list-item">
      <h3><a href="{{pathFor 'orderPage'}}">{{jobName}}</a><span></span></h3>
      <p>Customer: {{customerName}}</p>
      <p>Quantity: {{productCount}} Cabinets</p>
      <p>Progress: 0% Complete</p>

      <strong><p>Due Date: {{formatDate dueDate}}</p></strong>
      
      <br>
      <p>Material Cost: {{materialCost}}</p>
      <p>Labor Cost: {{laborCost}}</p>
      <p><strong>Total Cost: {{totalCost}}</strong></p>
    </div>
    
    <div class="btn-group float-right">
      <a href="{{pathFor 'estimatePage'}}" class="btn btn-default">Estimate</a>
       <a href="{{pathFor 'processListPage'}}" class="btn btn-default">Process List</a>
      <a href="{{pathFor 'schedulesPage'}}" class="btn btn-default">Schedules</a>
      <a href="{{pathFor 'cutlistPage'}}" class="btn btn-default">Cut List</a>
      <a href="{{pathFor 'takeoffPage'}}" class="btn btn-default">TakeOff</a>
      <a href="{{pathFor 'orderEdit'}}" class="btn btn-default">Edit</a>
      <a href="#" class="btn btn-warning archive">Archive</a>
    </div>

  </div>
</template>