<template name="orderSubmit">
  {{#autoForm collection="Orders" id="orderSubmit" type="insert" template="bootstrap3-inline" class="comment-form form"}}
    <fieldset>
      <legend>New Order</legend>
      {{> afFormGroup name='customerId' type="select" options=optionsHelper template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
      {{> afQuickField name='jobName' template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
      {{> afQuickField name='dueDate' template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
      
      <h4>Style</h4>
      {{> afQuickField name='doorStyle' type="select" options=doorStyleOptions template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
      {{> afQuickField name='drawerFaceStyle' options=drawerFaceStyleOptions template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
      
      <h4>Finish</h4>
       {{> afQuickField name='finishType' template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
       {{> afQuickField name='finishColor' template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}
      
      <h4>Cabinet Materials</h4>
      {{> afFormGroup name='doorFrameMaterial' label='Door Frame' type="select" options=roughLumberAndSheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='doorPanelMaterial' label='Door Panel' type="select" options=roughLumberAndSheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='drawerFaceFrameMaterial' label='Drawer Face Frame' type="select" options=roughLumberAndSheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='drawerFacePanelMaterial' label='Drawer Face Panel' type="select" options=roughLumberAndSheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='ffMaterial' label='Face Frame' type="select" options=roughLumber template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='caseMaterial' label='Case' type="select" options=sheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='drawerBoxSideMaterial' label='Drawer Box Sides/Ends' type="select" options=roughLumberAndSheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='drawerBoxBottomMaterial' label='Drawer Box Bottom' type="select" options=sheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='shelfMaterial' label='Shelves' type="select" options=sheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      <h4>Trim Materials</h4> 
      {{> afFormGroup name='toeKickMaterial' label='Toe Kick' type="select" options=sheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='endPanelMaterial' label='End Panel' type="select" options=roughLumberAndSheetGoods template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      {{> afFormGroup name='crownMaterial' label='Crown' type="select" options=roughLumber template="bootstrap3-horizontal" label-class="col-md-3" input-col-class="col-md-9"}}
      
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>

  <!-- <form class="main form page">
    
    <div class="form-group">
      <label class="control-label" for="title">Customer Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="style">Cabinet Style</label>
      <select name="style" class="form-control">
            <option disabled="disabled" selected="selected">Select</option> 
          {{#each cabinetStyle}}
            <option value={{this.name}}>{{this.label}}</option>
          {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">Due Date</label>
      <div class="controls">
          <input name="dueDate" type="text" class="form-control" id="my-datepicker" placeholder="Date">
      </div>
    </div>
    
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form> -->


    
    