<template name="customerPage">
	<div class="restaurant-page page">
	  <div class="list">
	      <div class="list-item">
		      <h3><a href="{{pathFor 'customerPage'}}">{{name}}</a><span></span></h3>
		      <p>Mobile Phone: {{mPhone}} </p>
		      <p>Office Phone: {{oPhone}} </p>
		      <p>Email: {{email}} </p>
	      </div>


	      
	      <a href="#" class="float-right btn btn-danger delete" >Delete</a>
	      <a href="{{pathFor 'customerEdit'}}" class="float-right btn btn-default" >Edit</a>
	    </div>
	    
	    <h3>Orders</h3>
	    <ul class="comments">
		    {{#each orders}}
		      {{> orderItem}}
		    {{/each}}
		</ul>

    </div>
</template>